div.footer_total{
/*	margin:0 auto;*/
/*	width:100%;*/
	background:#383838;
}
div.footer_total div.footer_down{
	margin:0 auto;
	width:1200px;
	height:200px;
	display:flex;
	justify-content:space-around;
	flex-wrap: wrap;	
}
div.footer_total div.footer_down ul{
	padding:41px;
}
div.footer_total div.footer_down ul li a img{
	width:35px;
	height:35px;
}
div.footer_total div.footer_down ul li a{
	color:#FAF7F7;
	padding:5px;
}
div.footer_total div.footer_down ul li a:hover{
	color:#68463C;
	font-weight:bold;
}
div.footer_total div.footer_down ul:first-child li a>img{
	transition:all 0.5s linear;
}
div.footer_total div.footer_down ul:first-child li a>img:hover{
	transform:scale(1.1);
}
div.footer_total div.footer_down ul:last-child{
	color:#FAF7F7;
}
div.footer_total div.footer_down ul li:nth-child(2){
	margin:7px 0;
}
div.footer_total div.footer_down1{
	width:1200px;
	margin:0 auto;
	padding-bottom:30px;
}
div.footer_total div.footer_down1 ul{
	display:flex;
	justify-content:space-around;	
}
div.footer_total div.footer_down1 ul li:last-child{
	width:520px;
	color:#FAF7F7;
	font-size:8px;
}
div.footer_total div.footer_down1 ul li img{	
	width:95px;
	height:33px;
}
